#sing_up-wrap.devise

  %h2 Sign up

  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = f.error_notification

    .inputs
      = f.input :username, required: true, placeholder: 'Meno'
      = f.input :email, required: true, placeholder: 'Email'
      = f.input :password, required: true, placeholder: 'Heslo'
      = f.input :password_confirmation, required: true, placeholder: 'Potvrdenie hesla'

    .actions
      = f.button :submit, "Zaregistrovať sa", class: 'blue'

  = render partial: "devise/shared/links"
