%h1 Mails

- if @mails.blank?

  Žiadne stiahnuté e-maily.

- else

  %table
    %tr
      %th Id
      %th Imap id
      %th State
      %th Send by
      %th Received date
      %th Download date
      %th{colspan: 2}

    - @mails.each do |mail|
      %tr
        %td= mail.id
        %td= mail.imap_id
        %td= mail.state
        %td= mail.send_by
        %td= mail.received_at
        %td= mail.created_at
        %td= link_to 'Show', mail
        %td= link_to 'Delete', mail, confirm: 'Are you sure?', method: :delete

%p
  = link_to 'Download Mails', process_download_path
  |
  = link_to 'Decode Attachments', process_decode_path
  |
  = link_to 'Extract Transactions', process_extract_path
  |
  = link_to 'Assign Transactions', process_assign_path

%p
  = link_to 'Start Process', process_start_path
