= simple_form_for @user do |f|
  = f.error_notification
  
  .inputs
    = f.input :username, label: 'Meno'
    = f.input :email, label: 'Email'
    = f.input :role, label: 'Skupina', collection: User::ROLES, include_blank: false
    = f.input :is_approved, label: 'Schválený'

  .actions
    = f.button :submit, value: 'Uložiť', class: 'blue'
    