%h1 Používatelia

%p
  = link_to "Všetci používatelia", action: :index
  |
  = link_to "Používatelia čakajúci na schválenie", action: :index, approved: "false"

%table.tleft
  %tr
    %th #
    %th VS
    %th Schválený
    %th Meno
    %th Email
    %th Skupina
    %th{colspan: 2}
  - @users.each do |user|
    %tr
      %td= user.id
      %td= user.vs
      %td.tcenter= user.is_approved ? 'áno' : 'nie'
      %td= user.username
      %td= user.email
      %td= user.role
      %td= link_to "Detail", user_path(user)
      %td= link_to "Upraviť", edit_user_path(user)
