%h1
  %span.cseda Detail
  používateľa
  = @user.username

%p
  = link_to 'Späť', :back
  \|
  = link_to 'Upraviť detail', edit_user_path(@user)

%table.show
  %tr
    %th Id:
    %td= @user.id
  %tr
    %th VS:
    %td= @user.vs
  %tr
    %th Meno:
    %td= @user.username
  %tr
    %th Email:
    %td= @user.email
  %tr
    %th Skupina:
    %td= @user.role.capitalize
  %tr
    %th Schválený:
    %td= @user.is_approved ? 'áno' : 'nie'
  %tr
    %th Počet prihlásení:
    %td= @user.sign_in_count
  %tr
    %th Current sign in at:
    %td= @user.current_sign_in_at
  %tr
    %th Last sign in at:
    %td= @user.last_sign_in_at
  %tr
    %th Current sign in IP:
    %td= @user.current_sign_in_ip
  %tr
    %th Last sign in IP:
    %td= @user.last_sign_in_ip
  %tr
    %th Dátum vytvorenia:
    %td= @user.created_at
  %tr
    %th Dátum zmeny:
    %td= @user.updated_at

%h2 Prihlásený na udalosti
= render partial: "expenses/mini_index", locals: { expenses: @user.expenses }

%h2 Vytvorené udalosti
= render partial: "expenses/mini_index", locals: { expenses: @user.created_expenses }
