%h1
  %span.cseda Show
  = @user.username

%p
  = link_to 'Back', :back
  \|
  = link_to 'Edit', edit_user_path(@user)

%h2 Detaily
%table.show
  %tr
    %th.tleft Id:
    %td= @user.id
  %tr
    %th.tleft VS:
    %td= @user.vs
  %tr
    %th.tleft Name:
    %td= @user.username
  %tr
    %th.tleft Email:
    %td= @user.email
  %tr
    %th.tleft Role:
    %td= @user.role
  %tr
    %th.tleft Approved:
    %td= @user.is_approved
  %tr
    %th.tleft Sign in count:
    %td= @user.sign_in_count
  %tr
    %th.tleft Current sign in at:
    %td= @user.current_sign_in_at
  %tr
    %th.tleft Last sign in at
    %td= @user.last_sign_in_at
  %tr
    %th.tleft Current sign in IP
    %td= @user.current_sign_in_ip
  %tr
    %th.tleft Last sign in IP
    %td= @user.last_sign_in_ip
  %tr
    %th.tleft Created at
    %td= @user.created_at
  %tr
    %th.tleft Updated at
    %td= @user.updated_at

%h2 Prihlásený na udalosti
= render partial: "expenses/mini_index", locals: { expenses: @user.expenses }

%h2 Vytvorené udalosti
= render partial: "expenses/mini_index", locals: { expenses: @user.created_expenses }
