.devise

  %h2 Change your password

  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    = f.error_notification

    = f.input :reset_password_token, as: :hidden
    = f.full_error :reset_password_token

    .inputs
      = f.input :password, label: "Nové heslo", required: true
      = f.input :password_confirmation, label: "Potvrdiť nové heslo", required: true

    .actions
      = f.button :submit, "Zmeniť heslo", class: 'blue'

  = render partial: "devise/shared/links"