%h1 Listing events

%p
  = link_to 'New Tournament', new_event_path(type: 'tournament')
  \|
  = link_to 'New Training', new_event_path(type: 'training')
  \|
  = link_to 'New Without date', new_event_path(type: 'without_date')

%table
  %tr
    %th Id
    %th Type
    %th Name
    %th{colspan: 3}

  - @events.each do |event|
    %tr
      %td= event.id
      %td= event.type
      %td= event.name
      %td= link_to 'Show', event_path(event)
      %td= link_to 'Edit', edit_event_path(event)
      %td= link_to 'Destroy', event_path(event), confirm: 'Are you sure?', method: :delete
