#sign_in-wrap.devise

  %h2 Sign in

  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .inputs
      = f.input :email, required: true, placeholder: 'Email'
      = f.input :password, required: true, placeholder: 'Heslo'

    .actions
      = f.button :submit, "Prihlásiť sa", class: 'blue'
      = f.input :remember_me, label: 'Neodhlasovať', as: :boolean if devise_mapping.rememberable?

    .clearfix
    %br

  = render partial: "devise/shared/links"