%h1 Emaily

- if @emails.blank?

  Žiadne stiahnuté e-maily.

- else

  %table.tleft
    %tr
      %th #
      %th Imap id
      %th Stav
      %th Poslané od
      %th Dátum doručenia
      %th Dátum stiahnutia
      %th{colspan: 2}

    - @emails.each do |email|
      %tr
        %td= email.id
        %td= email.imap_id
        %td= email.state
        %td= email.send_by
        %td= email.received_at
        %td= email.created_at
        %td= link_to 'Detail', email
        %td= link_to 'Zmazať', email, data: { confirm: 'Ste si istý?' }, method: :delete

%p
  = link_to 'Zmazať všetky emaily', emails_path, data: { confirm: 'Ste si istý?' }, method: :delete
%p
  = link_to 'Stiahnuť emaily', process_download_path
  |
  = link_to 'Dekódovať prílohy', process_decode_path
  |
  = link_to 'Extrahovať transakcie', process_extract_path
  |
  = link_to 'Priradiť transakcie', process_assign_path

%p
  = link_to 'Spustiť proces', process_start_path
