%h1
  %span.cseda Detail
  emailu číslo #{@email.id}

%p
  = link_to 'Späť', :back

%table.show
  %tr
    %th Id:
    %td= @email.id
  %tr
    %th Imap id:
    %td= @email.imap_id
  %tr
    %th Dátum doručenia:
    %td= @email.received_at
  %tr
    %th Poslané od:
    %td= @email.send_by
  %tr
    %th Stav:
    %td= @email.state
  %tr
    %th Obálka emailu:
    %td= @email.envelope
  %tr
    %th Obsah emailu:
    %td= @email.content
  %tr
    %th Príloha emailu:
    %td= @email.attachment
  %tr
    %th Meno súboru:
    %td= @email.file_name
  %tr
    %th Rozkódovaná príloha:
    %td= @email.decoded_attachment
  %tr
    %th Dátum vytvorenia:
    %td= @email.created_at
  %tr
    %th Dátum zmeny:
    %td= @email.updated_at

%h2 Vygenerované transakcie
= render partial: "transactions/mini_index", locals: { transactions: @email.transactions }