%h1
  %span.cseda Show
  mail

%table.show
  %tr
    %th Id:
    %td= @email.id
  %tr
    %th Imap id:
    %td= @email.imap_id
  %tr
    %th Received at:
    %td= @email.received_at
  %tr
    %th Send by:
    %td= @email.send_by
  %tr
    %th State:
    %td= @email.state
  %tr
    %th Envelope:
    %td= @email.envelope
  %tr
    %th Content:
    %td= @email.content
  %tr
    %th Attachment:
    %td= @email.attachment
  %tr
    %th File name:
    %td= @email.file_name
  %tr
    %th Decoded attachment:
    %td= @email.decoded_attachment
  %tr
    %th Created at:
    %td= @email.created_at
  %tr
    %th Updated_at
    %td= @email.updated_at

%p
  = link_to 'Back', emails_path