%h1 Transactions

%p= @contents

- if @transactions.blank?
  %p Žiadne vytvorené transakcie.
-else

  %table
    %tr
      %th email
      %th datum_transakcie
      %th suma
      %th vs
      %th created_at
      %th{colspan: 2}
    - @transactions.each do |transaction|
      %tr
        %td= transaction.email_id
        %td= transaction.datum_transakcie
        %td= transaction.suma
        %td= transaction.variabilny_symbol
        %td= transaction.created_at
        %td= link_to 'show', transaction_path(transaction)
        - if can? :destroy, transaction
          %td= link_to 'delete', transaction, confirm: 'Are you sure?', method: :delete

  - if can? :destroy_all, Transaction
    %p= link_to 'Delete all', transactions_path, confirm: 'Are you sure?', method: :delete
