%h1 Transakcie

%p= @contents

- if @transactions.blank?
  %p Žiadne vytvorené transakcie.
-else

  %table.tleft
    %tr
      %th #
      %th Stav
      %th Email
      %th Dátum platby
      %th Suma
      %th VS
      %th Dátum vytvorenia
      %th{colspan: 2}
    - @transactions.each do |transaction|
      %tr
        %td= transaction.id
        %td= transaction.state
        %td= transaction.email_id.blank? ? 'no-mail' : link_to(transaction.email_id, transaction.email)
        %td= transaction.datum_transakcie
        %td= transaction.suma
        %td= transaction.variabilny_symbol
        %td= transaction.created_at
        %td= link_to 'Zobraziť', transaction_path(transaction)
        - if can? :destroy, transaction
          %td= link_to 'Zmazať', transaction, data: { confirm: 'Ste si istý' }, method: :delete

  - if can? :destroy_all, Transaction
    %p= link_to 'Zmazať všetky', transactions_path, data: { confirm: 'Ste si istý' }, method: :delete
