%h1
  %span.cseda Show
  transaction

%p
  = link_to 'Back', :back

%h2 Detail
%table.show
  - @transaction.attributes.keys.each do |attribute|
    %tr
      %th= attribute.humanize
      %td= @transaction.attributes[attribute].to_s

- unless @transaction.email_id.blank?
  %p= link_to "Vygenerované z emailu #{@transaction.email_id} >>", @transaction.email
