%h1
  %span.cseda Detail
  transakcie číslo
  = @transaction.id

%p
  = link_to 'Späť', :back

%table.show
  - @transaction.attributes.keys.each do |attribute|
    %tr
      %th= attribute.humanize
      %td= @transaction.attributes[attribute].to_s

- unless @transaction.email_id.blank?
  %p= link_to "Vygenerované z emailu #{@transaction.email_id} >>", @transaction.email
