= simple_form_for(@expense) do |f|
  = f.error_notification
    
  .inputs
    = f.input :name
    = f.input :start_at, start_year: Date.today.year, end_year: Date.today.year + 1
    = f.input :end_at
    = render partial: "#{@expense.type.underscore}_form", locals: { f: f }
    = f.input :locked_at
    = f.input :description

  .actions
    = f.button :submit
