= simple_form_for(@expense) do |f|
  = f.error_notification
    
  .inputs
    = f.input :name
    = render partial: "#{@expense.type.underscore}_form", locals: { f: f }
    = f.input :locked_at#, as: 'string', input_html: { class: 'datepicker_locked_at' }, placeholder: '1.1.2030', hint: 'Dátum od ktorého je prihlasovanie na akciu uzamknuté.'
    = f.input :description, input_html: { cols: 38, rows: 8 }

  .actions
    = f.button :submit, class: 'blue'
