= simple_form_for(@expense) do |f|
  = f.error_notification
    
  .inputs
    = f.input :name, label: "Názov"
    = render partial: "#{@expense.type.underscore}_form", locals: { f: f }
    = f.input :locked_at, label: 'Uzamknuté od',  hint: 'Dátum od ktorého je prihlasovanie na akciu uzamknuté'
    = f.input :description, label: 'Popis', input_html: { cols: 38, rows: 8 }

  .actions
    = f.button :submit, value: 'Uložiť', class: 'blue'
