= f.input :start_at#, as: 'string', input_html: { class: 'datepicker_locked_at' }
= f.input :end_at#, as: 'string', input_html: { class: 'datepicker_locked_at' }
= f.input :total_price, placeholder: 0
= f.input :team_fee, placeholder: 0
= f.input :player_fee, placeholder: 0
