= f.input :start_at, label: 'Dátum začiatku', #, as: 'string', input_html: { class: 'datepicker_locked_at' }
= f.input :end_at, label: 'Dátum konca' #, as: 'string', input_html: { class: 'datepicker_locked_at' }
= f.input :total_price, label: 'Celková cena'
= f.input :team_fee, label: 'Cena za tím'
= f.input :player_fee, label: 'Cena za hráča'
