%h1 Listing expenses

%p
  = link_to 'Add Tournament', [:new, :tournament]
  |
  = link_to 'Add Training', [:new, :training]
  |
  = link_to 'Add Other expense', [:new, :other_expense]

%table
  %tr
    %th Id
    %th Type
    %th Name
    %th{colspan: 3}

  - @expenses.each do |expense|
    %tr
      %td= expense.id
      %td= expense.type
      %td= expense.name
      %td= link_to 'Show', expense
      %td= link_to 'Edit', [:edit, expense]
      %td= link_to 'Destroy', expense, confirm: 'Are you sure?', method: :delete
