%h1 Výpis udalostí
%p
  = link_to 'Pridať turnaj', [:new, :tournament]
  |
  = link_to 'Pridať tréning', [:new, :training]
  |
  = link_to 'Pridať iný výdavok', [:new, :other_expense]

%table.tleft
  %tr
    %th #
    %th Uzamknutá
    %th Typ
    %th Meno
    %th Používateľ
    %th{colspan: 3}


  - @expenses.each do |expense|
    %tr
      %td= expense.id
      %td= expense.locked? ? 'Áno' : 'Nie'
      %td= t expense.type
      %td= expense.name
      %td= expense.creator.username
      %td= link_to 'Detail', expense
      - if can? :update, expense
        %td= link_to 'Upraviť', [:edit, expense]
      - if can? :destroy, expense
        %td= link_to 'Zmazať', expense, data: { confirm: 'Ste si istý?' }, method: :delete
