%h1
  %span.cseda Detail
  = @expense.name

%p
  = link_to 'Späť', :back
  \|
  = link_to 'Upraviť', [:edit, @expense]

%h2 Detaily
%table.show
  -# %tr
    %th Id:
    %td= @expense.id
  %tr
    %th Typ:
    %td= @expense.type
  %tr
    %th Názov:
    %td= @expense.name
  %tr
    %th Dátum začiatku:
    %td= @expense.start_at
  %tr
    %th Dátum ukončenia:
    %td= @expense.start_at
  %tr
    %th Celková cena:
    %td= @expense.total_price
  %tr
    %th Tímový poplatok:
    %td= @expense.team_fee
  %tr
    %th Hráčsky poplatok:
    %td= @expense.player_fee
  %tr
    %th Vytvoril:
    %td= can?(:read, User) ? link_to(@expense.creator.username, user_path(@expense.creator)) : @expense.creator.username
  %tr
    %th Uzamknutá od:
    %td= @expense.locked_at
  %tr
    %th Popis:
    %td= @expense.description

%h2 Prihlásení používatelia
= render partial: "users/mini_index", locals: { users: @expense.users }
