%h1.participation Participation

%table.participation
  // 1. riadok po mesiacoch (January 2012) %B %Y
  %tr
    %td
    - @table_groups.each do |table_group|
      %td{ class: "th1 #{table_group[2]}", colspan: table_group[0].length }= table_group[1]
    %td

  // 2. riadok po eventoch (Mon 25) %B %Y
  %tr
    %td
    - @table_groups.each do |table_group|
      - table_group[0].each do |expense|
        %td{ class: "th2 #{table_group[2]}" }
          - if expense.type == 'Training'
            = expense.start_at.strftime('%a %e')
          - else
            = expense.start_at.strftime('%e.%m') + ' - ' + expense.end_at.strftime('%e.%m')
    %td

  // 3. riadok nazov eventu
  %tr
    %td
    - @table_groups.each do |table_group|
      - table_group[0].each do |expense|
        %td{ class: "th3 #{'locked' if expense.locked?} #{expense.type.tableize.singularize}" }= link_to expense.name, expense
    %td

  // telo tabulky
  - @users.each do |user|
    %tr{ class: "#{'me' if user == current_user}" }
      %td.username
        = link_to user.username, user
      - @expenses.each do |expense|
        - b = expense.users.find_by_id(user.id).nil?
        - l = expense.locked?
        %td.tcenter.p11n{ class: "#{'add-wrap' if b and !l} #{'delete-wrap' if !b and !l} #{'locked' if l}"}
          - if (not expense.locked? and user == current_user) or current_user.admin?
            - if b
              = link_to '<span>-</span>'.html_safe, participation_path(expense.id, user.id), class: 'do_add', method: :post, remote: true
            - else
              = link_to '<span>Áno</span>'.html_safe, participation_path(expense.id, user.id), class: 'do_delete', method: :delete, remote: true
          - else
            - if b
              = '-'
            - else
              = 'Áno'

      %td.last


  // posledny riadok pocet prihlasenych pouzivatelov na dany event
-#
  %tr.sums
    %td
    - @expenses.each do |expense|
      %td.tcenter= expense.users.count
    %td

%br
.pagination= will_paginate @expenses
