!!!
%html
  %head
    %title TeamUcto
    = favicon_link_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body{class: "#{'not_logged' unless user_signed_in?}"}

    -# %img{src: "/assets/logo.png", height: 100}

    - if user_signed_in?

      #header-wrap
        #header
          #top-menu
            .fleft
              -# logo
              = link_to_s 'Úvod', root_path, 'home'
              = link_to_s 'Udalosti', expenses_path, 'expenses'
              = link_to_s 'Účasti', participations_path, 'participation'
              - if can? :index, User
                = link_to_s 'Používatelia', users_path, 'users'
              = link_to_s 'Moje výdavky', my_postings_path, 'postings', 'my'
              - if can? :read_team, Posting
                = link_to_s 'Tímove výdavky', team_postings_path, 'postings', 'team'
              - if can? :read_all, Posting
                = link_to_s 'Všetky výdavky', all_postings_path, 'postings', 'all'
              - if can? :index, Transaction
                = link_to_s 'Transakcie', transactions_path, 'transactions'
              - if can? :index, Email
                = link_to_s 'Emaily', emails_path, 'emails'
              - if can? :index, Audit
                = link_to_s 'Audity', audits_path, 'audits'

            .fright
              %b= current_user.username
              = link_to_s 'Môj profil', edit_user_registration_path, 'devise/registrations', 'edit'
              - if can? :read, AppSettings
                = link_to_s 'Nastavenia', settings_path, 'app_settings'
              = link_to 'Odhlásenie', destroy_user_session_path, method: :delete

            .clearfix

    - else
      #header-wrap
        #header
          #logo

    #content

      %p#alert= alert
      %p#notice= notice

      = yield

    #footer-wrap
      #footer
        - if user_signed_in?
          .tcenter
            = link_to_s 'Úvod', root_path, 'home'
            |
            = link_to_s 'Udalosti', expenses_path, 'expenses'
            |
            = link_to_s 'Účasti', participations_path, 'participation'
            |
            = link_to_s 'Moje výdavky', my_postings_path, 'postings', 'my'
            |
            = link_to 'Prejsť hore', '#'

        .tcenter
          &copy;2012 team-ucto
