!!!
%html
  %head
    %title TeamUcto
    = favicon_link_tag
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    
    - if user_signed_in?
      
      #beta BETA
      
      #header
        #top-menu
          = link_to_s 'Home', root_path, 'home'
          = link_to_s 'Expenses', expenses_path, 'expenses'
          = link_to_s 'Participations', participations_path, 'participation'
          - if can? :index, User
            = link_to_s 'Users', users_path, 'users'
          - if can? :index, Audit
            = link_to_s 'Audits', audits_path, 'audit'

          .fright
            %b= current_user.username
            = link_to_s 'My profile', edit_user_registration_path, 'devise/registrations'
            = link_to 'Logout', destroy_user_session_path, method: :delete
          
          .clear

    #content

      %p#alert= alert
      %p#notice= notice

      = yield
